.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  padding: 1rem;
  background-color: var(--gray-500);
  border-radius: 0.5rem;
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  font-size: 0.875rem;
}

.taskDone {
  flex: 1;
  color: var(--gray-300);
  text-decoration-line: line-through;
}

.taskToDo {
  flex: 1;
  color: var(--gray-100);
  text-decoration-line: none;
}

.container {
  display: block;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  height: 1rem;
  width: 1rem;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--blue);
}

.container:hover input ~ .checkmark {
  border-color: var(--blue-dark);
}

.container input:checked ~ .checkmark {
  border: 0;
  background-color: var(--purple-dark);
}

.container:hover input:checked ~ .checkmark {
  background-color: var(--purple);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5.5px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid var(--gray-100);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.delete svg {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.3125rem;
  cursor: pointer;
  fill: var(--gray-300);
}

.delete svg:hover {
  background-color: var(--gray-400);
  fill: var(--danger);
}
